:root {
    --background-color-base: #FFF ;
    --background-color-box: #F5F6FA;
    --primary-text-1: rgba(0, 6, 38, 0.9);
    // --primary-text-2: rgba(0, 6, 38, 0.9);
    --yellow: #FEC62E;
    --input-height : 3rem;
    --input-min-width : 23rem;
    --input-label-color: rgba(0, 6, 38, 0.9);
    --input-label-line-height: 1.5rem;
    --input-border: 1px solid rgba(0, 13, 77, 0.45);
    --input-fill: #FFF;
    --input-placeholder: rgba(0, 9, 51, 0.65);
    --input-border-radius: 0.5rem;
    --input-error-border:2px solid rgba(199, 58, 58, 0.8);
    --input-error-fill:rgba(255, 74, 74, 0.05);
    --input-error-message: #C73A3A;
    --input-focus-outline: 2px solid #4C64D9;
    --input-value-font-size: 1rem;
    --input-value-line-height: 1.5rem;
    --box-shadow-weak: 0px 2px 4px -2px rgba(0, 0, 0, 0.08), 0px 4px 8px -2px rgba(0, 0, 0, 0.04);
    --box-shadow-strong: 0px 8px 8px -4px rgba(0, 0, 0, 0.04), 0px 20px 24px -4px rgba(0, 0, 0, 0.08);
    --spacing-0: 0rem;
    --spacing-0-25: 0.25rem;
    --spacing-0-5: 0.5rem;
    --spacing-0-75: 0.75rem;
    --spacing-1: 1rem;
    --spacing-1-25: 1.25rem;
    --spacing-1-5: 1.5rem;
    --spacing-2: 2rem;
    --spacing-2-5: 2.5rem;
    --spacing-3: 3rem;
    --spacing-3-5: 3.5rem;
    --spacing-4: 4rem;
    --spacing-5: 5rem;
    --spacing-6: 6rem;
    --spacing-8: 8rem;
    --spacing-12: 12rem;
    --spacing-16: 16rem;
    --footer-border: rgba(0, 17, 102, 0.1);
    --spinner-bg: rgba(0, 17, 102, 0.1);
    --spinner: #4C64D9;
    --tooltip-bg: #000;
    --tooltip-text: #FFF;
    --button-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.08), 0px 4px 8px -2px rgba(0, 0, 0, 0.04);
    --button-primary-bg:#4C64D9;
    --button-primary-color:#fff;
}
:root[data-theme="dark"]{
    --background-color-base: #12131A;
    --background-color-box: #000;
    --primary-text-1: #FFF;
    // --primary-text-2: rgba(0, 6, 38, 0.9);
    --yellow: #FEC62E;
    --input-height : 3rem;
    --input-min-width : 23rem;
    --input-label-color: #FFF;
    --input-border: 1px solid rgba(255, 255, 255, 0.6);
    --input-fill: #12131A;
    --input-placeholder:  rgba(255, 255, 255, 0.78);
    --input-border-radius: 0.5rem;
    --input-error-border:2px solid rgba(255, 156, 156, 0.8);
    --input-error-fill: rgba(255, 74, 74, 0.05);
    --input-error-message: #FF9C9C;
    --input-value-font-size: 1rem;
    --input-value-line-height: 1.5rem;
    --input-focus-outline: 2px solid #4C64D9;
    --box-shadow-weak:  0px 2px 4px -2px rgba(0, 0, 0, 0.08), 0px 4px 8px -2px rgba(0, 0, 0, 0.04);
    --box-shadow-strong: 0px 8px 8px -4px rgba(0, 0, 0, 0.04), 0px 20px 24px -4px rgba(0, 0, 0, 0.08);
    --spacing-0: 0rem;
    --spacing-0-25: 0.25rem;
    --spacing-0-5: 0.5rem;
    --spacing-0-75: 0.75rem;
    --spacing-1: 1rem;
    --spacing-1-25: 1.25rem;
    --spacing-1-5: 1.5rem;
    --spacing-2: 2rem;
    --spacing-2-5: 2.5rem;
    --spacing-3: 3rem;
    --spacing-3-5: 3.5rem;
    --spacing-4: 4rem;
    --spacing-5: 5rem;
    --spacing-6: 6rem;
    --spacing-8: 8rem;
    --spacing-12: 12rem;
    --spacing-16: 16rem;
    --footer-border: rgba(255, 255, 255, 0.12);
    --spinner-bg: rgba(255, 255, 255, 0.12);
    --spinner: #A3B2FF;
    --tooltip-bg: #FFF;
    --tooltip-text: #000;
    --button-primary-bg: #A3B2FF;
    --button-primary-color: #000;
}
